body {
    background-color: black;
}

h1 {
    color: rgb(241, 239, 239);
}

.ball {
    height: 100px;
    width: 100px;

    margin: 0 auto;

    border-radius: 50%;
    background-color: red;

    align-content: center;
    text-align: center;

    font-size:  1.375em;
    font-weight: bold;

    transition: 1s;
}